.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.venv/
.venv-1/
venv/
**/.venv/
**/.venv-1/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.log
node_modules/
**/node_modules/
dist/
**/dist/